
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: tuppence, serif;
    color: rgb(233, 238, 243);
    margin: 0;
    background-color: none;
    background-image: url("./images/design-desk.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Header, Nav, Links */
header {
    display: flex;
    position: fixed;
    flex: 1 0;
    width: 100vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(11, 12, 14);
    color: rgb(233, 238, 243);
    font-size: 25px;
}

h1 {
    font-size: 45px;
}

nav {
    display: flex;
    justify-content:space-evenly;
    min-width: 170px;
    width: 15%;
    font-family: futura-pt,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

a:link, a:visited {
    text-decoration: none;
    color: rgb(120, 167, 185);
}

a:hover, a:focus {
    color: whitesmoke;
}

/* Base Styling */

.hero {
    display: inline-flex;
    flex-direction: column;
    flex: 1 0;
    align-items: center;
    background-color: rgb(120, 167, 185);
    width: 50vw;
    min-width: 576px;
    margin: 0 auto;
    padding-top: 100px;
    box-shadow:  0 0 15px rgb(71, 98, 109);
}

h2 {
    display: flex;
    font-size: 50px;
    word-spacing: 1px;
    margin-top: 100px;
}

h3 {
    font-size: 32px;
    margin: 0;
    padding-top: 10px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    display: flex;
    position: static;
    flex: 1 1 auto;
    width: 500px;
    text-align: justify;
    font-family: futura-pt,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
}

/* About */

.section-a {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 215px;
    height: 215px;
    background-image: url("./images/gold-texture.jpeg");
    background-position: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(72, 72, 72);
}

.profile-pic {
    width: 200px;
    border-radius: 50%;
}

.name-plate {
    display: flex;
    position: static;
    flex-direction: column;
    align-items: center;
    line-height: 1;
    height: 150px;
    top: -50px;
}

.about-header {
    margin-top: 15px;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    /* margin-top: 5px; */
    width: 125px;
    height: 50px;
}

.logos {
    margin-top: 15px;
    width: 30px;
    margin-bottom: 50px;
}

/* Portfolio */
#portfolio {
    padding-bottom: 30px;
    border-radius: 20px;
    width: 900px;
}

#portfolio h2 {
    margin-top: 100px;
}

.work {
    display: flex;
    flex: 0 1;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 720px;
    height: 600px;
}

.repo-container1 {
    display: flex;
    position: static;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.screenshot {
    max-width: 500px;
    min-width: 500px;
    /* height: 350px; */
    object-fit: cover;
    /* object-position: 0 0%; */
}

#secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 200px;
}

.repo-container2,
.repo-container3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    width: 500px;
    height: 100px;
    gap: 10px;
}

.container2,
.container3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.screenshot2 {
    margin: 0 auto;
    max-width: 250px;
    min-width: 250px;
}

.screenshot, .screenshot2 {
    display: flex;
    flex: 0 1;
    position: relative;
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgb(16, 15, 15);
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    color: rgb(11, 12, 14);
    font-size: 12px;
    padding: 12px;
}

.footer-link:link, .footer-link:visited {
    color: rgb(11, 12, 14);
}

.footer-link:hover {
        color: whitesmoke;
      }

/* Media Queries */

/* Tablets */
@media screen and (max-width: 992px) {
    nav {
        min-width: 170px;
    }

    .hero {
        min-width: 576px;
    }

    p {
        max-width: 500px;
        min-width: 350px;
    }

    #secondary {
        width: 675px;
    }

    .screenshot {
        max-width: 500px;
        /* width: 650px; */
        height: auto;
    }

    .screenshot2 {
        width: 250px;
    }
}
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    body{
        width: 100vw;
    }
    nav {
        max-width: 170px;
        /* width: 25%; */
    }

    header {
        max-width: 605vw;
        /* height: 15vh; */
        /* left: -10vw; */
    }

    .hero {
        max-width: 576px;
        min-width: 576px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 25px;
    }

    .name-plate{
        height: 100px;
    }

    p {
        height: 350px;
        font-size: 16px;
        max-width: 500px;
        min-width: 350px;
    }

    .repo-container > .button-container {
        width: 245px;
    }

    .screenshot {
        width: 550px;
    }

    .screenshot2 {
        width: 250px;
        border-radius: 10px;
    }

    #secondary {
        width: 545px;
    }
}

/* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    body {
        width: 576px;
    }

    header {
        width: 605px;
        left: -5vw;
    }

    .hero{
        width: 576px;
    }
    
    p {
        max-width: 500px;
        min-width: 390px;
    }
  }