.mediaViewInfo {
    --web-view-name: Main;
    --web-view-id: Main;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Main;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Main {
    position: absolute;
    width: 1920px;
    height: 3222px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: Main;
    --web-view-id: Main;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#Group_3 {
    position: absolute;
    width: 1920px;
    height: 3115px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_1 {
    fill: rgba(240,175,101,1);
    stroke: rgba(240,175,101,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_1 {
    overflow: visible;
    position: absolute;
    width: 1920px;
    height: 3115px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Rectangle_2 {
    fill: rgba(240,175,101,1);
}
.Rectangle_2 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 3165px;
    left: 0px;
    top: 0px;
}
#Rectangle_6 {
    fill: rgba(255,255,255,1);
}
.Rectangle_6 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 57px;
    left: 0px;
    top: 3165px;
}
#Scroll_Group_1 {
    mix-blend-mode: normal;
    position: absolute;
    width: 1920px;
    height: 500px;
    left: 0px;
    top: 1356px;
    overflow: hidden;
}
#junkfood-promo {
    position: absolute;
    width: 842px;
    height: 500px;
    left: 501px;
    top: 0px;
    overflow: visible;
}
#daytripper-logo {
    position: absolute;
    width: 841px;
    height: 500px;
    left: 1423px;
    top: 0px;
    overflow: visible;
}
#weather-logo {
    position: absolute;
    width: 842px;
    height: 500px;
    left: -421px;
    top: 0px;
    overflow: visible;
}
#Mask_Group_1 {
    position: absolute;
    width: 843px;
    height: 473px;
    left: -1344px;
    top: 27px;
    overflow: visible;
}
#contactthespacenews {
    position: absolute;
    width: 1443px;
    height: 1026px;
    left: 622px;
    top: 2118px;
    overflow: visible;
}
#manifest_ba {
    left: 27px;
    top: 2118px;
    position: absolute;
    overflow: visible;
    width: 1263px;
    white-space: nowrap;
    text-align: center;
    font-family: Mighty Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 216px;
    color: rgba(139,39,41,1);
}
#ma-n-fest {
    left: 27px;
    top: 2322px;
    position: absolute;
    overflow: visible;
    width: 471px;
    white-space: nowrap;
    text-align: center;
    font-family: Aktiv Grotesk Ex;
    font-style: normal;
    font-weight: normal;
    font-size: 76px;
    color: rgba(139,39,41,1);
}
#readily_perceived_by_the_sense {
    left: 27px;
    top: 2420px;
    position: absolute;
    overflow: visible;
    width: 1074px;
    white-space: nowrap;
    text-align: left;
    font-family: Aktiv Grotesk Ex;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    color: rgba(255,255,255,1);
}
#imagine {
    left: 85px;
    top: 79px;
    position: absolute;
    overflow: visible;
    width: 835px;
    white-space: nowrap;
    text-align: center;
    font-family: Mighty Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 156px;
    color: rgba(139,39,41,1);
}
#i-ma-jn {
    left: 87px;
    top: 226px;
    position: absolute;
    overflow: visible;
    width: 235px;
    white-space: nowrap;
    text-align: center;
    font-family: Aktiv Grotesk Ex;
    font-style: normal;
    font-weight: normal;
    font-size: 51px;
    color: rgba(139,39,41,1);
}
#form_a_mental_image_or_concept {
    left: 87px;
    top: 300px;
    position: absolute;
    overflow: visible;
    width: 705px;
    white-space: nowrap;
    text-align: center;
    font-family: Aktiv Grotesk Ex;
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    color: rgba(139,39,41,1);
}
#create {
    left: 85px;
    top: 377px;
    position: absolute;
    overflow: visible;
    width: 658px;
    white-space: nowrap;
    text-align: left;
    font-family: Mighty Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 156px;
    color: rgba(139,39,41,1);
}
#krt {
    left: 87px;
    top: 526px;
    position: absolute;
    overflow: visible;
    width: 153px;
    white-space: nowrap;
    text-align: center;
    font-family: Aktiv Grotesk Ex;
    font-style: normal;
    font-weight: normal;
    font-size: 51px;
    color: rgba(139,39,41,1);
}
#contact {
    position: absolute;
    width: 1522px;
    height: 699px;
    left: 461px;
    top: 324px;
    overflow: visible;
}
#bring_something_into_existence {
    left: 87px;
    top: 603px;
    position: absolute;
    overflow: visible;
    width: 655px;
    white-space: nowrap;
    text-align: center;
    font-family: Aktiv Grotesk Ex;
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    color: rgba(139,39,41,1);
}
#inspire {
    left: 87px;
    top: 682px;
    position: absolute;
    overflow: visible;
    width: 749px;
    white-space: nowrap;
    text-align: center;
    font-family: Mighty Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 156px;
    color: rgba(139,39,41,1);
}
#in-sp-r {
    left: 87px;
    top: 831px;
    position: absolute;
    overflow: visible;
    width: 277px;
    white-space: nowrap;
    text-align: center;
    font-family: Aktiv Grotesk Ex;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    color: rgba(139,39,41,1);
}
#fill_someone_with_the_urge_or_ {
    left: 87px;
    top: 903px;
    position: absolute;
    overflow: visible;
    width: 977px;
    white-space: nowrap;
    text-align: left;
    font-family: Aktiv Grotesk Ex;
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    color: rgba(139,39,41,1);
}
#expand_your_dreams {
    left: 274px;
    top: 1177px;
    position: absolute;
    overflow: visible;
    width: 1374px;
    white-space: nowrap;
    text-align: center;
    font-family: Mighty Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 105px;
    color: rgba(255,255,255,1);
}
#expand_your_dreams_ {
    left: 279px;
    top: 1177px;
    position: absolute;
    overflow: visible;
    width: 1355px;
    white-space: nowrap;
    text-align: center;
    font-family: Mighty Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 105px;
    color: rgba(139,39,41,1);
}
#manifest_ba {
    left: 27px;
    top: 2118px;
    position: absolute;
    overflow: visible;
    width: 1263px;
    white-space: nowrap;
    text-align: center;
    font-family: Mighty Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 216px;
    color: rgba(139,39,41,1);
}
#manifest_ba {
    left: 27px;
    top: 2118px;
    position: absolute;
    overflow: visible;
    width: 1263px;
    white-space: nowrap;
    text-align: center;
    font-family: Mighty Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 216px;
    color: rgba(139,39,41,1);
}