html {
    scroll-behavior: smooth;
}

body {
    background-color: #F2B05E;
    color: #F2EBDF;
}

header {
    display: flex;
    justify-content: flex-end;
}

#contact {
    z-index: -1;
    width: 880px;
    margin: -285px 0 0 521px;
}

#title-main, #title-second,
#title-third, #title-fourth {
    display: inline;
    position: absolute;
    left: 1.5%;
    font-family: mighty-slab, serif;
    font-style: normal;
    font-size: 45px;
}

#title-main {
    z-index: 3;
    color: #8C2626;
    font-weight: 400;
}

#title-second {
    z-index: 2;
    color: #F2EBDF;
    font-weight: 500;
}

#title-third {
    z-index: 1;
    font-weight: 600;
    color: #D93425;
}

#title-fourth {
    font-weight: 700;
    color: #F2EBDF;
}

ul {
    display: inline;
    position: relative;
    font-family: lust-display,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin-right: 25px;
    margin-top: 15px;
}

a {
    color: #F2EBDF;
}

#thumbnail-1 {
    /* Positioning */
    left: 9em;
    top: 5em;
    width: 500px;
    /*Shaping*/
    border-radius: 10%;
}

#thumbnail-3 {
    /* Positioning */
    left: 9em;
    top: 5em;
    width: 500px;
    /*Shaping*/
    border-radius: 10%;
}

#thumbnail-2 {
    /* Positioning */
    left: 50em;
    top: 5em;
    width: 500px;
    /*Shaping*/
    border-radius: 10%;
}

#thumbnail-4 {
    /* Positioning */
    left: 50em;
    top: 5em;
    width: 500px;
    /*Shaping*/
    border-radius: 10%;
}

.d-title {
    font-family: mighty-slab, serif;
    font-size: 85px;
    font-weight: 400;
    font-style: normal;
    color: #8B2729;
    margin-top: -185px;
    margin-left: 680px;
}

.d-title3 {
    font-family: mighty-slab, serif;
    font-size: 85px;
    font-weight: 400;
    font-style: normal;
    color: #8B2729;
    margin-top: -185px;
    margin-left: 680px;
}

.d-title2 {
    font-family: mighty-slab, serif;
    font-size: 85px;
    font-weight: 400;
    font-style: normal;
    color: #8B2729;
    margin-top: -180px;
    margin-left: 250px;
}

.d-title4 {
    font-family: mighty-slab, serif;
    font-size: 85px;
    font-weight: 400;
    font-style: normal;
    color: #8B2729;
    margin-top: -175px;
    margin-left: 290px;
}

p {
    font-family: aktiv-grotesk-extended,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #8B2729;
    margin-top: -15px;
    margin-left: 680px;
    width: 600px;
}

.para3 {
    font-family: aktiv-grotesk-extended,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #8B2729;
    margin-top: -10px;
    margin-left: 680px;
}

.para2 {
    font-family: aktiv-grotesk-extended,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #8B2729;
    margin-top: -15px;
    margin-left: 80px;
    text-align: right;
    width: 640px;
}

.para4 {
    font-family: aktiv-grotesk-extended,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #8B2729;
    margin-top: -15px;
    margin-left: 80px;
    text-align: right;
    width: 640px;
}

main {
    display: flex;
    flex-direction: column;
}

#splash-text {
    /* Type */
    font-family: mighty-slab, serif;
    font-size: 115px;
    font-weight: 400;
    font-style: normal;
    color: #8B2729;
    /* Sizing */
    margin: 0 0 0 10px;
}

.container {
    margin-top: 25px;
}

.definition, .say-it {
    font-family: aktiv-grotesk-extended,sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 10px;
    color: #8B2729
}

.say-it {
    margin-top: -25px;
}

.definition {
    margin-top: -10px;
}

/* .mani-contain {
    background-color: #FFF;
} */

#manifest {
    width: 750px;
    margin: 150px 0 0 325px;
}

img {
    position: relative;
    z-index: -1;
}

footer {
    display: flex;
    margin: 127px 0 10px 0;
    justify-content: center;
    align-items: center;
    color: #000
}

span {
    margin-left: 5px;
}

/* Media Queries */

/* Tablets */
@media screen and (max-width: 992px) {

}
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {

}

/* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {

}