.mediaViewInfo {
    --web-view-name: Contact;
    --web-view-id: Contact;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Contact;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Contact {
    position: absolute;
    width: 1920px;
    height: 1137px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: Contact;
    --web-view-id: Contact;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#Group_1 {
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_1 {
    fill: rgba(240,175,101,1);
    stroke: rgba(240,175,101,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_1 {
    overflow: visible;
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Rectangle_6 {
    fill: rgba(255,255,255,1);
}
.Rectangle_6 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 57px;
    left: 0px;
    top: 1080px;
}
#contact {
    left: 519px;
    top: 86px;
    position: absolute;
    overflow: visible;
    width: 883px;
    white-space: nowrap;
    text-align: center;
    font-family: Mighty Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 183px;
    color: rgba(139,39,41,1);
}
#name {
    left: 917.75px;
    top: 399px;
    position: absolute;
    overflow: visible;
    width: 142px;
    white-space: nowrap;
    text-align: left;
    font-family: Aktiv Grotesk Ex;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    color: rgba(255,255,255,1);
}
#Rectangle_27 {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_27 {
    position: absolute;
    overflow: visible;
    width: 248px;
    height: 27px;
    left: 917.75px;
    top: 459px;
}
#email {
    left: 917.75px;
    top: 490px;
    position: absolute;
    overflow: visible;
    width: 134px;
    white-space: nowrap;
    text-align: left;
    font-family: Aktiv Grotesk Ex;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    color: rgba(255,255,255,1);
}
#Rectangle_28 {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_28 {
    position: absolute;
    overflow: visible;
    width: 248px;
    height: 28px;
    left: 917.75px;
    top: 550px;
}
#website {
    left: 917.75px;
    top: 588px;
    position: absolute;
    overflow: visible;
    width: 196px;
    white-space: nowrap;
    text-align: left;
    font-family: Aktiv Grotesk Ex;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    color: rgba(255,255,255,1);
}
#Rectangle_29 {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_29 {
    position: absolute;
    overflow: visible;
    width: 248px;
    height: 28px;
    left: 917.75px;
    top: 648px;
}
#message {
    left: 1195.75px;
    top: 399px;
    position: absolute;
    overflow: visible;
    width: 231px;
    white-space: nowrap;
    text-align: left;
    font-family: Aktiv Grotesk Ex;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    color: rgba(255,255,255,1);
}
#Rectangle_30 {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_30 {
    position: absolute;
    overflow: visible;
    width: 344px;
    height: 217px;
    left: 1195.75px;
    top: 459px;
}
#ButtonDefaultPrimary {
    position: absolute;
    width: 150px;
    height: 37px;
    left: 1388.75px;
    top: 701px;
    overflow: visible;
    padding: 9px 50px 12px 51px;
}
#Primary__007BFF {
    fill: rgba(139,39,41,1);
}
.Primary__007BFF {
    position: absolute;
    overflow: visible;
    width: 150px;
    height: 37px;
    left: 0px;
    top: 0px;
}
#submit {
    left: 51px;
    top: 9px;
    position: absolute;
    overflow: visible;
    width: 50px;
    white-space: nowrap;
    text-align: left;
    font-family: Aktiv Grotesk Ex;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(255,255,255,1);
}
#wulfsounds__design_devinlwulfg {
    left: 426.623px;
    top: 464px;
    position: absolute;
    overflow: visible;
    width: 390px;
    white-space: nowrap;
    text-align: left;
    font-family: Aktiv Grotesk Ex;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(255,255,255,1);
}
#Icon_awesome-github {
    fill: rgba(255,255,255,1);
}
.Icon_awesome-github {
    overflow: visible;
    position: absolute;
    width: 60.238px;
    height: 58.733px;
    left: 511.36px;
    top: 614.267px;
    transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-instagram {
    fill: rgba(255,255,255,1);
}
.Icon_awesome-instagram {
    overflow: visible;
    position: absolute;
    width: 54.439px;
    height: 54.426px;
    left: 701.369px;
    top: 614.267px;
    transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-linkedin {
    fill: rgba(255,255,255,1);
}
.Icon_awesome-linkedin {
    overflow: visible;
    position: absolute;
    width: 54.408px;
    height: 54.408px;
    left: 609.279px;
    top: 616.429px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_4 {
    position: absolute;
    width: 2099.951px;
    height: 1196.495px;
    left: -69.812px;
    top: 0px;
    overflow: visible;
}
#Path_1_ {
    fill: rgba(56,17,17,1);
    stroke: rgba(240,175,101,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_1_ {
    overflow: visible;
    position: absolute;
    width: 2099.951px;
    height: 1196.495px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#contact_ {
    left: 543.647px;
    top: 246.75px;
    position: absolute;
    overflow: visible;
    width: 883px;
    white-space: nowrap;
    text-align: center;
    font-family: Mighty Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 183px;
    color: rgba(240,175,101,1);
}
#wulfsounds__design_devinlwulfg_ {
    left: 1157.926px;
    top: 628.317px;
    position: absolute;
    overflow: visible;
    width: 390px;
    white-space: nowrap;
    text-align: left;
    font-family: Aktiv Grotesk Ex;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: rgba(255,255,255,1);
}
#Icon_awesome-github_ {
    fill: rgba(255,255,255,1);
}
.Icon_awesome-github_ {
    overflow: visible;
    position: absolute;
    width: 60.238px;
    height: 58.733px;
    left: 1230.202px;
    top: 771.45px;
    transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-instagram_ {
    fill: rgba(255,255,255,1);
}
.Icon_awesome-instagram_ {
    overflow: visible;
    position: absolute;
    width: 54.439px;
    height: 54.426px;
    left: 1420.212px;
    top: 771.45px;
    transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-linkedin_ {
    fill: rgba(255,255,255,1);
}
.Icon_awesome-linkedin_ {
    overflow: visible;
    position: absolute;
    width: 54.408px;
    height: 54.408px;
    left: 1328.122px;
    top: 773.612px;
    transform: matrix(1,0,0,1,0,0);
}
#form {
    position: absolute;
    width: 684.737px;
    height: 339px;
    left: 373.073px;
    top: 551.25px;
    overflow: visible;
}
#email_ {
    left: 0px;
    top: 107px;
    position: absolute;
    overflow: visible;
    width: 88px;
    white-space: nowrap;
    text-align: left;
    font-family: Aktiv Grotesk Ex;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255,255,255,1);
}
#Rectangle_27_ba {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_27_ba {
    position: absolute;
    overflow: visible;
    width: 305.797px;
    height: 27px;
    left: 0.28px;
    top: 60px;
}
#Rectangle_28_bb {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_28_bb {
    position: absolute;
    overflow: visible;
    width: 305.797px;
    height: 28px;
    left: 0.28px;
    top: 151px;
}
#Rectangle_29_bc {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_29_bc {
    position: absolute;
    overflow: visible;
    width: 305.797px;
    height: 28px;
    left: 0.28px;
    top: 249px;
}
#message_bd {
    left: 340.737px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 231px;
    white-space: nowrap;
    text-align: left;
    font-family: Aktiv Grotesk Ex;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    color: rgba(255,255,255,1);
}
#Rectangle_30_be {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_30_be {
    position: absolute;
    overflow: visible;
    width: 344px;
    height: 217px;
    left: 340.737px;
    top: 60px;
}
#ButtonDefaultPrimary_bf {
    position: absolute;
    width: 150px;
    height: 37px;
    left: 533.737px;
    top: 302px;
    overflow: visible;
    padding: 9px 50px 12px 51px;
}
#Primary__007BFF_bg {
    fill: rgba(139,39,41,1);
}
.Primary__007BFF_bg {
    position: absolute;
    overflow: visible;
    width: 150px;
    height: 37px;
    left: 0px;
    top: 0px;
}
#submit_bh {
    left: 51px;
    top: 9px;
    position: absolute;
    overflow: visible;
    width: 50px;
    white-space: nowrap;
    text-align: left;
    font-family: Aktiv Grotesk Ex;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    color: rgba(255,255,255,1);
}
#name_bi {
    left: 0px;
    top: 16px;
    position: absolute;
    overflow: visible;
    width: 93px;
    white-space: nowrap;
    text-align: left;
    font-family: Aktiv Grotesk Ex;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255,255,255,1);
}
#website_bj {
    left: 0px;
    top: 205px;
    position: absolute;
    overflow: visible;
    width: 128px;
    white-space: nowrap;
    text-align: left;
    font-family: Aktiv Grotesk Ex;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(255,255,255,1);
}