body {
    display: flex;
    flex-direction: column;

    /* font */
    font-family: tuppence, serif;
    color: rgb(233, 238, 243);
    margin: 0;

    /* Background image */
    background-color: none;
    background-image: url("./images/design-desk.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Header, Nav, Links */
header {
    display: inline-flex;
    position: fixed;
    width: 100vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    background-color: rgb(11, 12, 14);
    color: rgb(233, 238, 243);
    font-size: 25px;
    /* border: red solid 2px; */
}

h1 {
    font-size: 45px;
}

nav {
    display: flex;
    justify-content:space-evenly;
    width: 15%;
    font-family: "Futura PT", serif;
    font-size: 22px;
    /* border: red solid 2px; */
}

a:link, a:visited {
    text-decoration: none;
    color: rgb(120, 167, 185);
}

a:hover, a:focus {
    color: whitesmoke;
}

/* Base Styling */

.hero {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(120, 167, 185);
    width: 50vw;
    margin: 0 auto;
    padding-top: 175px;
    padding-left: 10px;
}

h2 {
    display: flex;
    font-size: 64px;
    word-spacing: 1px;
    margin-top: 100px;
}

h3 {
    font-size: 32px;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 18px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: red solid 2px; */
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
}

p {
    display: flex;
    position: static;
    width: 600px;
    text-align: justify;
    font-family: "futura pt";
    font-size: 20px;
    line-height: 1.5;
    /* border: 2px solid red; */
}



.screenshot {
    width: 600px;
    height: 400px;
    object-fit: contain;
}

/* About */

.about-header {
    margin-top: 15px;
}

.name-plate {
    display: flex;
    position: static;
    flex-direction: column;
    align-items: center;
    line-height: 1;
    height: 150px;
    top: -25px;
    /* border: red solid 2px; */
}

#profile {
    display: flex;
    justify-content: center;
    width: 240px;
    height: 240px;
    background-image: url("./images/gold-texture.jpeg");
    background-position: center;
    border-radius: 50%;
}

.profile-pic {
    width: 225px;
    border-radius: 50%;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 25px;
    width: 125px;
    height: 50px;
}

.logos {
    margin-top: 25px;
    width: 30px;
}

/* Portfolio */

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screenshot {
    margin-top: 75px;
}

.small {
    display: inline-flex;
    width: 300px;
}

.second {
    width: 200px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 50px;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;

    background-color: whitesmoke;
    color: rgb(120, 167, 185);
    border: 3px solid whitesmoke;
    border-style: solid;
    border-color: transparent;

    font-family: "futura", sans-serif;

    width: 100px;
    height: 30px;
    margin-top: 75px;
    margin-bottom: 50px;
    padding: 5px;
}

#button:hover {
    background-color: rgb(120, 167, 185);
    color: whitesmoke;
    border: 3px solid whitesmoke;
}

/* Contact */

.contact-container {
    font-family: "futura pt", sans-serif;
    text-transform: uppercase;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
    justify-content: center;
    width: 350px;
    padding-top: 35px;
    /* outline: 3px solid blueviolet; */
}

.contact-info {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    flex-direction: row;
    font-size: 25px;
}

#social-link:link, 
#social-link:visited {
    color: whitesmoke;
}

#social-link:hover {
    color: #000;
}

/* Resume */

/* Footer */

footer {
    display: flex;
    justify-content: center;
    color: rgb(11, 12, 14);
    font-size: 18px;
    padding: 12px;
}

.footer-link:link, .footer-link:visited {
    color: rgb(11, 12, 14);
}

.footer-link:hover {
        color: whitesmoke;
      }