
body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    /* font */
    font-family: tuppence, serif;
    color: rgb(233, 238, 243);

    margin: 0;

    /* Background image */
    background-color: none;
    background-image: url("./images/design-desk.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Header, Nav, Links */
header {
    display: inline-flex;
    position: fixed;
    width: 100vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(11, 12, 14);
    color: rgb(233, 238, 243);
    font-size: 25px;
    /* border: red solid 2px; */
}

h1 {
    font-size: 45px;
}

nav {
    display: flex;
    justify-content:space-evenly;
    width: 15%;
    font-family: "Futura PT", serif;
    font-size: 22px;
    /* border: red solid 2px; */
}

a:link, a:visited {
    text-decoration: none;
    color: rgb(120, 167, 185);
}

a:hover, a:focus {
    color: whitesmoke;
}

/* Base Styling */

.hero {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(120, 167, 185);
    width: 50vw;
    margin: 0 auto;
    padding-top: 175px;
    box-shadow:  0 0 15px rgb(71, 98, 109);
    /* border: 2px solid red; */
}

h2 {
    display: flex;
    font-size: 64px;
    word-spacing: 1px;
    margin-top: 100px;
}

h3 {
    font-size: 32px;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 18px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: red solid 2px; */
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
}

p {
    display: flex;
    position: static;
    width: 600px;
    text-align: justify;
    font-family: "futura pt";
    font-size: 20px;
    line-height: 1.5;
    /* border: 2px solid red; */
}


/* About */

/* main {
    border: 2px solid red;
} */

.about-header {
    margin-top: 15px;
}

.name-plate {
    display: flex;
    position: static;
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
    line-height: 1;
    height: 165px;
    top: -50px;
    /* border: red solid 2px; */
}

#profile {
    display: flex;
    justify-content: center;
    width: 240px;
    height: 240px;
    background-image: url("./images/gold-texture.jpeg");
    background-position: center;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(72, 72, 72);
}

.profile-pic {
    width: 225px;
    border-radius: 50%;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 25px;
    width: 125px;
    height: 50px;
}

.logos {
    margin-top: 25px;
    width: 30px;
    /* margin-bottom: 50px; */
}

.section-b {
    display: flex;
    /* align-items: center; */
    margin-bottom: 50px;
}

/* Portfolio */
#portfolio {
    margin-top: 125px;
    padding-bottom: 30px;
    border-radius: 20px;
    width: 900px;
}

#portfolio h2 {
    margin-top: 30px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* border: white solid 2px; */
}

#screenshot {
    width: 800px;
    height: 400px;
    object-fit: cover;
    object-position: 0 0%;
    
}

#screenshot, .screenshot2 {
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgb(16, 15, 15);
}

.screenshot2 {
    width: 375px;
}

#secondary {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 800px;
    /* border: 2px solid pink; */
}

.container {
    display: flex;
    flex-direction: column;
    width: 800px;
    /* border: 2px solid yellow; */
}

.repo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid orangered; */
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 50px;
    margin-top: 25px;
    /* border: 2px solid blue; */
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    color: rgb(120, 167, 185);
    border: 3px solid whitesmoke;
    border-style: solid;
    border-color: transparent;
    border-radius: 10px;
    font-family: "futura", sans-serif;
    width: 100px;
    height: 30px;
    padding: 5px;
}

#button:hover {
    background-color: rgb(120, 167, 185);
    color: whitesmoke;
    border: 3px solid whitesmoke;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    color: rgb(11, 12, 14);
    font-size: 18px;
    padding: 12px;
}

.footer-link:link, .footer-link:visited {
    color: rgb(11, 12, 14);
}

.footer-link:hover {
        color: whitesmoke;
      }

/* Media Queries */

/* Tablets */
@media screen and (max-width: 992px) {
    nav {
        width: 25vw;
    }

    .hero {
        width: 75vw;
    }

    #secondary {
        width: 675px;
    }

    #screenshot {
        object-fit: cover;
        width: 650px;
        height: auto;
    }

    .screenshot2 {
        width: 325px;
    }
}
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    body{
        width: 100vw;
    }
    nav {
        font-size: 20px;
    }

    header {
        width: 120vw;
        height: 15vh;
        left: -10vw;
    }

    .hero {
        width: 75vw;
        /* padding-right: 50px;
        padding-left: -25px; */
        /* left: -3vw; */
    }

    p {
        width: 500px;
    }

    .repo-container > .button-container {
        width: 245px;
    }

    #screenshot {
        width: 550px;
    }

    .screenshot2 {
        width: 250px;
        border-radius: 10px;
    }

    #secondary {
        width: 545px;
    }
}

/* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    body {
        width: 115vw;
    }

    header {
        width: 126vw;
        left: -5vw;
    }

    .hero{
        width: 100vw;
    }
  }