/* Main Content */

main {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

#enter {
    color: whitesmoke;
}

#enter:hover {
    color: rgb(120, 167, 185);
}

h2 {
    display: flex;
    font-size: 64px;
    word-spacing: 1px;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 32px;
    margin: 0;
    padding-bottom: 18px;
}

/* Footer */
footer {
    position: fixed; 
    color: rgb(11, 12, 14);
    font-size: small;
    padding: 12px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}